{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(length) %}
                <tr>
                    <td>{{symbols[i]}}</td>
                    <td>{{shares[i]}}</td>
                    <td>{{prices[i]|usd}}</td>
                    <td>{{times[i]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}