{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(length) %}
                <tr>
                    <td>{{symbols[i]}}</td>
                    <td>{{names[i]}}</td>
                    <td>{{shares[i]}}</td>
                    <td>{{prices[i]|usd}}</td>
                    <td>{{totals[i]|usd}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{cash|usd}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{grand|usd}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}